div.message_list 
{ 
  width: 384px;
  height:400px;
  padding:8px;
  -moz-border-radius: 8px; /* FireFox 1+ */
  -webkit-border-radius: 8px; /* Safari 3+, Chrome */
  background-color: green;  
  margin-bottom: 10px;
}

div.message_list ul
{  
  width: 384px;
  height:400px;
  overflow: hidden;
}

div.message_list li
{ 
  background-color: #aaffee;
  margin-bottom: 4px;
  padding:2px;
  -moz-border-radius-topright: 4px; /* FireFox 1+ */
  -moz-border-radius-bottomright: 4px; /* FireFox 1+ */
  -moz-border-radius-bottomleft: 4px; /* FireFox 1+ */
  -webkit-border-top-right-radius: 4px; /* FireFox 1+ */
  -webkit-border-bottom-right-radius: 4px; /* FireFox 1+ */
  -webkit-border-bottom-left-radius: 4px; /* FireFox 1+ */
}