div.message_entry
{ 
  width:384px;
  height:80px;
  padding:8px;
  -moz-border-radius: 8px; /* FireFox 1+ */
  -webkit-border-radius: 8px; /* FireFox 1+ */
  background-color: lightgreen;
}


div.message_entry.typing 
{ 
  background-color: black;
  }

div.message_entry textarea 
{
  width: 384px;
  height: 80px;
  }