
div.user_list 
{ 
  width: 164px;
  padding: 8px;
  -moz-border-radius: 8px; /* FireFox 1+ */
  -webkit-border-radius: 8px; /* Safari 3+, Chrome */
  border-radius: 8px; /* Opera 10.5, IE 9 */
  background-color: lightgreen;
  }

div.user_list  li 
{ 
  color: white;
  width: 88%;
  padding: 4px 4px 4px 20px;
  margin-bottom: 4px;
}



div.user_list ul.entries li 
{ 
  background-color: green;
  -moz-border-radius: 4px; /* FireFox 1+ */
  -webkit-border-radius: 4px; /* FireFox 1+ */
}


div.user_list ul.entries li.typing
{ 
  color: yellow;
}

      